.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 100px);
}

.form-label {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;

  input {
    font-size: 18px;
    height: 35px;
    padding: 0 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    outline: none;

    &:focus {
      box-shadow: 0 0 2px 2px #81abb8;
    }
  }

  label {
    font-size: 16px;
  }

  button {
    margin-top: 15px;
  }
}
