.AccountSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 297px;
  margin: auto;

  &__Section {
    input {
      margin-top: 5px;
      margin-right: 0.5rem;
    }
  }

  &__ChangePassword {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &__DeleteAccount {
    margin: 25px 0;
    height: 2.5rem;
  }

  .ErrorText,
  .StatusText {
    text-align: center;

    @media #{$mq-xs} {
      margin: 0;
    }
  }
}
