.PasswordReset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 15vw;

  &__PasswordForm {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
  }

  &__FormInput {
    display: flex;
    flex-direction: column;
  }

  #email {
    margin-right: 7px;
    margin-bottom: 7px;
  }

  &__BackToLogin {
    background-color: $primay-color-light-4;
    margin-top: 2.5rem;
  }
}
