.SendEmailVerification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 15vw;

  input {
    margin-right: 10px;
  }

  .ErrorText {
    margin-top: 10px;
  }
}
