.app-container {
  height: 100vh;
  max-height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 10px 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #616161;
  border-radius: 4px;
  overflow: auto;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 20;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:before, .modal-close:after {
  position: absolute;
  left: 15px;
  height: 33px;
  width: 3px;
  background-color: #c8c8c8;
  content: ' ';
}

.modal-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-title {
  font-size: 42px;
  margin-bottom: 5px;
}

.faded-seperator {
  width: 100%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.media-input-container .input-item {
  margin-bottom: 20px;
}

.media-input-container input,
.media-input-container select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  width: 345px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #e5e5e5;
}

.media-input-container select {
  padding: 0 10px;
}

.media-input-container textarea {
  font-family: inherit;
  font-size: 18px;
  width: 60%;
  min-width: 325px;
  height: 170px;
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
}

.media-input-container input,
.media-input-container textarea,
.media-input-container select {
  outline: none;
}

.media-input-container input:focus,
.media-input-container textarea:focus,
.media-input-container select:focus {
  -webkit-box-shadow: 0 0 2px 2px #81abb8;
          box-shadow: 0 0 2px 2px #81abb8;
}

.media-input-container input::-webkit-input-placeholder,
.media-input-container textarea::-webkit-input-placeholder,
.media-input-container select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.media-input-container input:-ms-input-placeholder,
.media-input-container textarea:-ms-input-placeholder,
.media-input-container select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.media-input-container input::-ms-input-placeholder,
.media-input-container textarea::-ms-input-placeholder,
.media-input-container select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}

.media-input-container input::placeholder,
.media-input-container textarea::placeholder,
.media-input-container select::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
/*# sourceMappingURL=App.css.map */