.mylists-screen {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  min-height: 250px;
}

.mylists-content {
  width: 100%;
  padding: 15px 40px;
  overflow: auto;
}

.mylists-option-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px;
}

.mylists-options-left {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

.mylists-filter-button {
  color: #9c9c9c;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-end;

  &:hover {
    text-decoration: underline;
  }

  // Temporary - Styling for currently selected filter
  &:first-child {
    color: inherit;
    text-decoration: underline;
  }
  //
}

.mylists-options-right {
  display: flex;
}

.mylists-add-new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 33px;
  border-radius: 5px;
  background-color: #526774;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }
}

.add-new-plus {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  fill: #fff;
}

.media-list-container {
  min-height: calc(100% - 50px);
  padding: 0 55px;
  background-color: #616161;
}

.media-category {
  padding: 20px 0;

  h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 15px 5px;
  }
}

.media-list-category {
  .faded-seperator {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
}

.media-list-items-container {
  display: flex;
  flex-wrap: wrap;
}

.media-list-item {
  margin: 0 10px 15px;
  cursor: pointer;

  img {
    width: 175px;
    height: 260px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  }

  h3 {
    font-size: 18px;
    font-weight: 400;
    margin: -3px 0 0 3px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  }
}
