.mylists-screen {
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  min-height: 250px;
}

.mylists-sidebar {
  position: relative;
  min-width: 240px;
  height: 100%;
  background-color: #5f6769;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
}

.mylists-title-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #545b5e;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.mylists-title-container h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-left: 25px;
  margin-right: 20px;
}

.add-list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;

  background: #7b8091;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.add-list-plus {
  width: 60%;
  height: 60%;
  fill: #c6cfd3;
}

.mylists-item {
  height: 45px;
  margin-top: 7px;
  cursor: pointer;
}

.mylists-list-name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.mylists-list-name h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: 5px;
}

.mylists-selector {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  fill: #000;
  fill-opacity: 0; // 0.5
}

.mylists-item .faded-seperator {
  width: 80%;
  margin-top: 7px;
}

.mylists-item:hover .mylists-selector {
  fill-opacity: 0.25;
}

.mylists-active-selector {
  fill-opacity: 0.5;
}

// Temporary - Styling for currently selected list
// .mylists-item:first-child .mylists-selector {
//   fill-opacity: 0.5;
// }
//

.mylists-content {
  width: 100%;
  padding: 15px 40px;
  overflow: auto;
}

.mylists-option-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px;
}

.mylists-options-left {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}

.mylists-filter-button {
  color: #9c9c9c;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-end;
}

.mylists-filter-button:hover {
  text-decoration: underline;
}

// Temporary - Styling for currently selected filter
.mylists-filter-button:first-child {
  color: inherit;
  text-decoration: underline;
}
//

.mylists-options-right {
  display: flex;
}

.mylists-add-new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 33px;
  border-radius: 5px;
  background-color: #526774;
  cursor: pointer;
}

.mylists-add-new-button p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.add-new-plus {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  fill: #fff;
}

.media-list-container {
  min-height: calc(100% - 50px);
  padding: 0 55px;
  background-color: #616161;
}

.media-category {
  padding: 20px 0;
}

.media-category h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 15px 5px;
}

.media-list-category .faded-seperator {
  width: calc(100% + 40px);
  margin: 0 -20px;
}

.media-list-items-container {
  display: flex;
  flex-wrap: wrap;
}

.media-list-item {
  margin: 0 10px 15px;
  cursor: pointer;
}

.media-list-item img {
  width: 175px;
  height: 260px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.media-list-item h3 {
  font-size: 18px;
  font-weight: 400;
  margin: -3px 0 0 3px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
