.mylists-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  min-height: 250px;
}

.mylists-sidebar {
  position: relative;
  min-width: 240px;
  height: 100%;
  background-color: #5f6769;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
}

.mylists-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  background-color: #545b5e;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.mylists-title-container h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-left: 25px;
  margin-right: 20px;
}

.add-list-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
  background: #7b8091;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.add-list-plus {
  width: 60%;
  height: 60%;
  fill: #c6cfd3;
}

.mylists-item {
  height: 45px;
  margin-top: 7px;
  cursor: pointer;
}

.mylists-list-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.mylists-list-name h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: 5px;
}

.mylists-selector {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  fill: #000;
  fill-opacity: 0;
}

.mylists-item .faded-seperator {
  width: 80%;
  margin-top: 7px;
}

.mylists-item:hover .mylists-selector {
  fill-opacity: 0.25;
}

.mylists-content {
  width: 100%;
  padding: 15px 40px;
  overflow: auto;
}

.mylists-option-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 10px;
}

.mylists-options-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 150px;
}

.mylists-filter-button {
  color: #9c9c9c;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.mylists-filter-button:hover {
  text-decoration: underline;
}

.mylists-filter-button:first-child {
  color: inherit;
  text-decoration: underline;
}

.mylists-options-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mylists-add-new-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 190px;
  height: 33px;
  border-radius: 5px;
  background-color: #526774;
  cursor: pointer;
}

.mylists-add-new-button p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

.add-new-plus {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  fill: #fff;
}

.list-container {
  height: 150vh;
  background-color: #616161;
}

.list-category {
  padding: 20px 40px;
}

.list-category h2 {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 36px;
  font-weight: 400;
}
/*# sourceMappingURL=styles.css.map */