.ListSettings {
  margin-top: 15px;

  &__Name {
    display: flex;
    align-items: center;
    gap: 10px;

    @media #{$mq-s} {
      flex-direction: column;
      align-items: start;
    }
  }

  &__NameInput {
    font-size: 18px;
    width: 230px;

    @media #{$mq-s} {
      width: 100%;
      max-width: 230px;
    }
  }

  &__InviteLink {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;

    @media #{$mq-s} {
      flex-direction: column;
      align-items: start;
    }

    .PrimaryButton {
      white-space: nowrap;
    }

    .InviteLink {
      &__Input {
        width: 310px;
        font-size: 14px;

        @media #{$mq-s} {
          width: 100%;
          max-width: 310px;
        }
        @media #{$mq-xs} {
          padding: 5px;
        }
      }
    }
  }

  .ErrorText {
    margin-bottom: 5px;
  }

  &__SharedUsers {
    h3 {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      margin-bottom: 5px;

      @media #{$mq-xs} {
        font-size: 18px;
      }

      span {
        font-size: 18px;
        margin-top: auto;

        @media #{$mq-xs} {
          font-size: 14px;
        }
      }
    }
  }

  .SharedUser {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primay-color-light-4;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 5px;

    &__Username {
      margin: 0;
      margin-right: 5px;
      margin-left: 5px;
      word-break: break-all;
      white-space: normal;

      @media #{$mq-xs} {
        font-size: 14px;
      }
    }

    &__Remove {
      @include cross-button(1rem, 3px);
      margin-bottom: 1px;
    }

    .Switch {
      margin-left: auto;
    }
  }

  &__ButtonsContainer {
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;
  }
}

.DeleteModal {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__Buttons {
    display: flex;
    gap: 2rem;
  }
}
