.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 10px 30px;
  transform: translate(-50%, -50%);
  background: #616161;
  border-radius: 4px;
  overflow: auto;
  outline: none;

  &__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 20;
  }

  &__Close {
    @include cross-button(2rem, 3px);
    position: absolute;
    right: 20px;
    top: 12px;
  }

  &__Title {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
