.Modal {
  position: relative;
  margin: auto;
  padding: 10px 30px;
  background: $bg-color-dark-5;
  border-radius: 4px;
  margin: 40px;

  @media #{$mq-s} {
    width: 100%;
    margin: 20px;
  }

  &__Overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
  }

  &__Close {
    @include cross-button(2rem, 3px);
    position: absolute;
    right: 20px;
    top: 12px;
  }

  &__Title {
    font-size: 30px;
    margin-bottom: 5px;
    margin-right: 25px;

    @media #{$mq-md} {
      font-size: 24px;
    }
  }
}
