.Switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .Switch__Slider {
      background-color: $primay-color-light-1;
    }

    &:focus + .Switch__Slider {
      box-shadow: 0 0 1px $primay-color-light-1;
    }

    &:checked + .Switch__Slider:before {
      transform: translateX(13px);
    }
  }

  &__Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-color-light-1;
    border-radius: 17px;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: $bg-color-dark-4;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
}
