.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 50px;
  background-color: rgb(37, 37, 39);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.navbar-title-container {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(94, 76, 137);
}

.navbar-title {
  margin: 0;
  font-size: 42px;
  font-weight: 400;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  a {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
