.list-details {
  margin-top: 15px;
  input {
    height: 25px;
    font-size: 18px;
    margin-right: 10px;

    &.list-invite-link {
      width: 325px;
    }
  }

  .shared-users {
    h3 {
      font-weight: 500;
      margin-bottom: 5px;
      border-bottom: 1px solid;
    }
  }
}
