@mixin media-modal-input {
  .MediaInput__Item {
    margin-bottom: 20px;
  }

  input,
  select {
    width: 345px;
  }

  textarea {
    width: 60%;
    min-width: 325px;
    height: 100px;
  }
}

@mixin cross-button($scale: 2rem, $thickness: 3px) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $scale;
  height: $scale;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    height: $scale;
    width: $thickness;
    background-color: $primay-color-light-3;
    content: ' ';
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
