// Background Colors
$bg-color-dark-1: #0e0e10;
$bg-color-dark-2: #18181b;
$bg-color-dark-3: #1f1f23;
$bg-color-dark-4: #27272c;
$bg-color-dark-5: #1f1f23;

$bg-color-light-1: #e5e5e5;
$bg-color-light-2: #cecece;

// Primary Colors
$primay-color-light-1: #60659b;
$primay-color-light-2: #757575;
$primay-color-light-3: #c5c5c5;
$primay-color-light-4: #2f2f35;

$primay-color-dark-1: #393939;

// Font Colors
$font-color-dark-1: #161600;
$font-color-dark-2: #959595;

$font-color-light-1: #ececec;
$font-color-light-2: #c0c0c0;
$font-color-light-3: #9a9a9a;
$font-color-light-4: #7a7a7a;
