.add-media-modal {
  max-width: 1085px;
  // max-width: 55%;

  .faded-seperator {
    margin-bottom: 20px;
  }
}

.media-modal-content {
  display: flex;
  margin: 0 15px;
}

.media-modal-top-left {
  display: flex;
}

.upper-input-container {
  margin-right: 40px;
}

.media-title-input {
  input:focus + .suggestions {
    display: block;
  }
  .suggestions:hover {
    display: block;
  }
}

.suggestions {
  position: absolute;
  box-sizing: border-box;
  display: none;
  color: black;
  width: 345px;
  max-height: 150px;
  border: 1px solid #999999;
  background-color: #e5e5e5;
  overflow: auto;
  z-index: 5;
}

.suggestion-item {
  min-height: 30px;
  padding: 0 10px;
  line-height: 27px;
  border-bottom: 1px solid rgba($color: #999999, $alpha: 0.1);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .suggestion-item-name {
    font-size: 14px;
    span {
      color: #a1a1a1;
    }
  }
}

.media-modal-media-info {
  margin-left: 5px;
  width: 20vw;
  max-width: 410px;

  .media-modal-media-title {
    font-family: sans-serif;
    font-size: 36px;
    margin-left: -5px;
  }

  .media-modal-media-year {
    color: #ffffff6e;
    font-size: 28px;
    margin-top: -10px;
  }

  .media-modal-media-type {
    font-size: 18px;
  }

  .media-modal-media-description {
    color: #c0c0c0;
    font-size: 18px;
    margin-bottom: 3px;
  }

  .faded-seperator {
    margin: 8px 0;
  }
}

.media-modal-media-poster {
  width: 200px;
  height: 300px;
  margin-left: 50px;
}

.modal-add-media-button {
  position: absolute;
  font-size: 16px;
  bottom: 20px;
  right: 30px;
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #526774;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
